@model WebApplication1.Models.HomeModel
@{
    ViewBag.Title = "Home page";
}

<div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="section-main padding-y">
        <main class="card">
            <div class="card-body">

                <div class="row">
                    <aside class="col-lg col-md-3 flex-lg-grow-0">
                    
                        <font color="green">

                            <a>SẢN PHẨM</a>

                            <h1 style="background-color: #92a8d1">



                            </h1>

                        </font>
                          
                     
                        <nav class="nav-home-aside">
                            <ul class="menu-category">
                                @foreach (var item in Model.ListCategory)
                                {
                                    <li>@Html.ActionLink(item.Name, "ProductCatagory", "Catagory", new { Id = item.id }, null)</li>
                                }

                            </ul>
                        </nav>
                    </aside>
                    <div class="col-md-9 col-xl-7 col-lg-7">

                        <!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
                        <div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="1"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/images/banners/banner4 (2).jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/banner1.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/banner1.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->

                    </div> <!-- col.// -->
                    <div class="col-md d-none d-lg-block flex-grow-1">
                        <aside class="special-home-right">
                            <h6 class="bg-blue text-center text-white mb-0 p-2">
                                <h7 style="background-color: #4dbade">

                                    SẢN PHẨM PHỔ BIẾN
                                    </h7>
                            </h6>


                            @foreach (var item in Model.ListCategory.Where(n => n.ShowOnHomePage == true).Take(4))
                            {

                                <div class="card-banner border-bottom">
                                    <div class="py-3" style="width:40%">
                                        <h6 class="card-title">@item.Name</h6>
                                        <a href="@Url.Action("ProductCatagory", "Catagory", new { Id = item.id }, null)" class="btn btn-secondary btn-sm"> Tới ngay </a>
                                    </div>
                                    <img src="~/Content/images/items/@item.Avatar" height="80" class="img-bg">
                                </div>
                            }


                        </aside>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card-body.// -->
        </main> <!-- card.// -->

    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    <!-- =============== SECTION DEAL =============== -->
    <section class="padding-bottom">
        <div class="card card-deal">
            <div class="col-heading content-body">
                <header class="section-heading">
                    <h3 class="section-title">GIẢM GIÁ MÙA HÈ CỰC HOT</h3>
                    <p>HOẠT ĐỘNG CÙNG THÚ CƯNG</p>
                </header><!-- sect-heading -->
                <div class="timer">
                    <div> <span class="num">17</span> <small>NGÀY</small></div>
                    <div> <span class="num">7</span> <small>GIỜ</small></div>
                    <div> <span class="num">27</span> <small>GIÂY</small></div>
                    <div> <span class="num">07</span> <small>SEC</small></div>
                </div>
            </div> <!-- col.// -->
            <div class="row no-gutters items-wrap">
                @foreach (var item in Model.ListProduct.Take(5))
                {
                    <div class="col-md col-6">
                        <figure class="card-product-grid card-sm">
                            <a href="@Url.Action("Detail", "Product", new {Id=item.id})" class="img-wrap">
                                <img src="~/Content/images/items/@item.Avatar">
                            </a>
                            <div class="text-wrap p-3">
                                @*@<a href="#" class="title text-truncate">@item.Name</a>*@
                                @Html.ActionLink(item.Name, "Detail", "Product", new { id = item.id }, null)

                                <span class="badge badge-danger"> -20% </span>
                            </div>
                        </figure>
                    </div> <!-- col.// -->
                }

            </div>
        </div>

    </section>
    <!-- =============== SECTION DEAL // END =============== -->
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
                
                <h7 style="background-color: #e239e2">
                    MÈO LÔNG DÀI
                </h7>


            </h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Chi tiết mèo </h5>
                        <p>

                            
                            Chiều cao: từ 30,5cm đến 36cm.
                            Cân nặng: Trung bình từ 3,6kg đến 4,5kg.
                            Đặc biệt: Lông mèo rất dài và dựng thẳng rất mềm ượt và mướt tay.
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Mèo lông dài</a>

                        <img src="~/Content/images/items/longdai1.jpg" class="img-bg" />
                    </div>
                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.Categoryld == 32).Take(4))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail", "Product", new {Id=item.id})" class="item">
                                    <div class="card-body">
                                        <h6 class="title"> Mèo lông dài</h6>
                                        <img class="img-sm float-center" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
              

                <h7 style="background-color: #e9ae0b">
                    MÈO LÔNG NGẮN
                </h7>
            </h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Chi tiết về mèo</h5>
                        <p>
                            Tính cách: Tình cảm, trung thành
                            Cân nặng: Trung bình từ 3,5-> 7kg
                            Màu sắc: Đen, xanh da trời, Chinchilla, So-co-la
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill"> Mèo lông ngắn</a>

                        <img src="~/Content/images/items/scottish3.jpg" class="img-bg">
                    </div>
                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.Categoryld == 33).Take(4))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail", "Product", new {Id=item.id})" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Mèo lông ngắn </h6>
                                        <img class="img-sm float-center" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
                <h7 style="background-color: #f54b13">
                    MÈO MUNCHKIN
                </h7>
            </h4>
        </header>
        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title"> Chi tiết mèo</h5>
                        <p>
                            Kích thước: 18cm đến 20cm,chiều dài cơ thể gấp 2,5 chiều cao.
                            Mèo đực thường nặng từ 3kg đến 4kg
                            Mèo cái chỉ ở mức 2,5kg đến 3,5kg.
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Mèo munchkin</a>
                        <img src="~/Content/images/items/munchkin01.jpg" class="img-bg" />
                    </div>
                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.Categoryld == 37).Take(4))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail", "Product", new {Id=item.id})" class="item">
                                    <div class="card-body">
                                        <h6 class="title"> Mèo munchkin</h6>
                                        <img class="img-sm float-center" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->
    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
                <h7 style="background-color: #ffd800">
                   CHÓ ALASKA
                </h7>
                
          
            </h4>
        </header>
        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Chi tiết về chó</h5>
                        <p>
                            Chó Alaska hay còn gọi là chó Alaska Malamute.
                            Chiều cao: khoảng từ 65cm đến 70cm.
                            Cân nặng: 45kg đến 50kg.
                            Tính cách: trung thành.
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill"> Chó Alaska </a>
                        <img src="~/Content/images/items/alaska4.jpg" class="img-bg" />
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">

                        @foreach (var item in Model.ListProduct.Where(n => n.Categoryld == 23).Take(4))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail", "Product", new {Id=item.id})" class="item">
                                    <div class="card-body">
                                        <h6 class="title"> </h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->
    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
                


                <h7 style="background-color: #f54b13">
                    CHÓ CHORGI
                </h7>
            </h4>
        </header>
        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Chi tiết về chó </h5>
                        <p>
                            Chó Corgi tên đầy đủ là Pembroke Welsh Corgi.
                            Cân nặng: từ 10kg đến 14kg nhưng chăm sóc tốt tí sẽ đạt mức 20kg-25kg.
                            Đặc biệt: chó Corgi cộc đuôi, mông trái tim to tròn
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Chó Corgi </a>
                        <img src="~/Content/images/items/corgi2.jpg" class="img-bg" />
                    </div>
                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">

                        @foreach (var item in Model.ListProduct.Where(n => n.Categoryld == 24).Take(4))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail", "Product", new {Id=item.id})" class="item">
                                    <div class="card-body">
                                        <h6 class="title"> </h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->
    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
                <h7 style="background-color: #42f9d4">
                    CHÓ CHOW CHOW
                </h7>
               


            </h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Chi tiết về chó chow chow</h5>
                        <p>
                            + Cân nặng: chó Đực: 25kg-32kg
                            chó Cái:20kg-27kg
                            + Chiều cao: chó Đực: từ 48cm đến 56cm
                            chó Cái: từ 46cm đến 51cm.
                            3-6 chó con/lứa.
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill"> Chó Chow Chow </a>
                        <img src="~/Content/images/items/chow3.jpg" class="img-bg" />
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.Categoryld == 35).Take(4))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title"> </h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->
    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">


              

                <h7 style="background-color:#4fe818">
                    CHÓ SAMOYED
                </h7>
            </h4>
        </header>
        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Chi tiết về chó Samoyed</h5>
                        <p>
                            Chó Samoyed sở hữu vẻ ngoài đáng yêu cùng bộ lông trắng tuyết mềm mại.
                            + Samoyed cái: cao48-53cm, nặng 16-20kg.
                            + Samoyed đực: cao 53-60cm, nặng 20-30kg.
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Samoyed</a>
                        <img src="~/Content/images/items/samoyed2.jpg" class="img-bg">
                    </div>
                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.Categoryld == 36).Take(4))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title"></h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->
    <!-- =============== SECTION 3 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
                <h7 style="background-color: #5c3fef">
                    THỨC ĂN
                </h7>
             

            </h4>
        </header>
        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Thức ăn</h5>
                        <p>
                            Thức ăn được hỗn hợp chứa các thành phần dưỡng chất vitamin,
                            khoáng chất giúp thú cưng phát triển khỏe mạnh.
                            nhu cầu của của động vật đem lại nguồn
                            sống và giúp giảm đi mắc bệnh về tim mạch..
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Phổ biến</a>
                        <img src="~/Content/images/items/banner1.jpg" class="img-bg">
                    </div>
                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">

                        @foreach (var item in Model.ListProduct.Where(n => n.Categoryld == 34).Take(8))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title" />
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 3 END =============== -->
    <!-- =============== SECTION 3 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
                <h7 style="background-color: #cae225">
                    PHỤ KIỆN
                </h7>

            </h4>
        </header>
        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Phụ kiện</h5>
                        <p>
                            Tất cả các vật dụng cho thú cưng dùng và những chiếc lồng xinh 
                            ,những vật dụng cung cấp nhu cầu dành cho thú cưng tại nhà.
                        </p>
                        <a href="#" class="btn btn-outline-primary rounded-pill">PHỤ KIỆN</a>
                        <img src="~/Content/images/items/banner01.png" class="img-bg">
                    </div>
                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">

                        @foreach (var item in Model.ListProduct.Where(n => n.Categoryld == 38).Take(8))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="#" class="item">
                                    <div class="card-body">
                                        <h6 class="title" />
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 3 END =============== -->
  
    <!-- =============== SECTION REQUEST =============== -->

    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
                <h7 style="background-color: #e264ed">
                   TƯ VẤN KHÁCH HÀNG
                </h7>
               
            </h4>
        </header>

        <div class="row">
            <div class="col-md-8">
                <div class="card-banner banner-quote overlay-gradient" style="background-image: url('~/Content/images/banners/banner9.jpg');">
                    <div class="card-img-overlay white">
                        <h3 class="card-title">Tư vấn khách hàng </h3>
                        <p class="card-text" style="max-width: 400px">
                            Nhu cầu khách hàng , liên hệ
                        </p>
                        <a href="" class="btn btn-primary rounded-pill">Đáp ứng</a>
                    </div>
                </div>
            </div> <!-- col // -->
            <div class="col-md-4">

                <div class="card card-body">
                    <h4 class="title py-3">Điền thông tin</h4>
                    <form>
                        <div class="form-group">
                            <input class="form-control" name="" placeholder="Gmail,số điện thoại?" type="text">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Số lượng" name="" type="text">

                                <select class="custom-select form-control">
                                    <option>Mua</option>
                                    <option>Thêm</option>
                                    <option>Xóa</option>
                                    <option>Sửa</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group text-muted">
                            <p>Đánh giá:</p>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <div class="form-check-label">Thật tốt</div>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option2">
                                <div class="form-check-label">Tệ</div>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning">Liên hệ</button>
                        </div>
                    </form>
                </div>

            </div> <!-- col // -->
        </div> <!-- row // -->
    </section>

    <!-- =============== SECTION REQUEST .//END =============== -->
    <!-- =============== SECTION ITEMS =============== -->
    <section class="padding-bottom-sm">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
                <h7 style="background-color: #e82d18">
                    SẢN PHẨM ĐỀ XUẤT
                </h7>
               
            </h4>
        </header>


        <div class="row row-sm">
            @foreach (var item in Model.ListProduct.Where(n => n.Typeld == 2))
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div href="#" class="card card-sm card-product-grid">
                        <a href="#" class="img-wrap"> <img src="~/Content/images/items/@item.Avatar"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">@item.Name</a>
                            <div class="price mt-1">@item.Price</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            }

        </div> <!-- col.// -->


    </section>
    <!-- =============== SECTION ITEMS .//END =============== -->
    <!-- =============== SECTION SERVICES =============== -->

    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Chọn khu vực</h4>
        </header>

        <ul class="row mt-4">
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/GB.png"> <span>TOKYO</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/TR.png"> <span>VIỆT NAM</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/UZ.png"> <span>THÁI LANS</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <i class="mr-3 fa fa-ellipsis-h"></i> <span>Chọn nhiều khu vực hơn</span> </a></li>
        </ul>
    </section>
    <!-- =============== SECTION REGION .//END =============== -->

    <article class="my-4">
        <img src="~/Content/images/banners/ad-sm.png" class="w-100">
    </article>
</div>
<!-- container end.// -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="section-subscribe padding-y-lg">
    <div class="container">

        <p class="pb-2 text-center text-white">Cung cấp tin tức và dịch vụ mới nhất</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <form class="form-row">
                    <div class="col-md-8 col-7">
                        <input class="form-control border-0" placeholder="Gmail" type="email">
                    </div> <!-- col.// -->
                    <div class="col-md-4 col-5">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
